.ownTriangle {
  width: 10px;
  height: 10px;
  background: linear-gradient(to top right, var(--bg-color) 50%, transparent 0);
  outline: none;
  border: none;
}

.triangle {
  width: 10px;
  height: 10px;
  background: linear-gradient(
    to top left,
    var(--bg-secondary) 50%,
    transparent 0
  );
  outline: none;
  border: none;
}
