@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .chats-bg {
    @apply bg-[var(--chats-bg)];
  }

  .chats-bg-hover {
    @apply bg-[var(--chats-bg-hover)];
  }

  .text-main {
    @apply text-[var(--text-main)];
  }

  .main-bg {
    @apply bg-[var(--main-bg)];
  }

  .color-bg {
    @apply bg-[var(--color-bg)];
  }

  .message-bg {
    @apply bg-[var(--message-bg)];
  }
}

:root {
  --main-bg: rgb(23, 23, 23);
  --text-main: rgb(215, 215, 215);
  --chats-bg: rgb(41, 41, 41);
  --color-bg: rgb(58, 23, 153);
  --message-bg: rgb(69, 69, 69);
  --chats-bg-hover: rgb(57, 57, 57);
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

html {
  background: var(--main-bg);
}

#__next {
  display: flex;
  justify-content: center;
}
