@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply outline outline-1 rounded-[6px] px-2 py-1 font-normal;
  }

  .inputLabel {
    @apply font-bold flex flex-col gap-1;
  }

  .rounded-button {
    @apply rounded-[8px];
  }
}

:root {
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#__next {
  width: 100%;
  height: 100%;
  max-width: 1200px;
}
