.chatsScrollBar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 20px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.719);
    }

    &:active {
      background-color: rgb(0, 0, 0);
    }
  }
}

