.ChatScrollBar {
  &::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.37); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
}
